## Data processing

In [587]:
import pandas as pd
import matplotlib.pyplot as plt

In [588]:
df = pd.read_csv('Data Files/train_data.csv')

In [589]:
df.head(5)

,brand,che_pc_usd,che_perc_gdp,cluster_nl,corporation,country,launch_date,date,drug_id,ind_launch_date,indication,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,therapeutic_area,target
0,BRAND_354E,1.209114,1.665879,BRAND_354E_COUNTRY_88A3,CORP_D524,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_8795,-1,['IND_C3B6'],1.893333,1.008039,0.028367,1.006444,1.013784,1.835821,THER_AREA_980E,1.000784
1,BRAND_626D,-1.000000,-1.000000,BRAND_626D_COUNTRY_8B47,CORP_01C7,COUNTRY_8B47,2014-06-01,2014-06-01,DRUG_ID_E66E,2014-09-01 00:00:00,"['IND_1590', 'IND_ECAC']",-1.000000,1.023562,0.000047,-1.000000,1.626677,-1.000000,THER_AREA_96D7,1.000000
2,BRAND_45D9,1.209114,1.665879,BRAND_45D9_COUNTRY_88A3,CORP_39F7,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_F272,-1,['IND_B2EF'],1.893333,1.008039,0.001502,-1.000000,3.144874,1.835821,THER_AREA_96D7,1.002258
3,BRAND_D724,1.851280,2.051770,BRAND_D724_COUNTRY_445D,CORP_711A,COUNTRY_445D,2014-06-01,2014-06-01,DRUG_ID_1D4E,-1,['IND_BAFB'],1.000000,1.253186,0.001304,-1.000000,1.213446,1.805970,THER_AREA_6CEE,1.068761
4,BRAND_4887,1.791199,2.059130,BRAND_4887_COUNTRY_D8B0,CORP_443D,COUNTRY_D8B0,2014-06-01,2014-06-01,DRUG_ID_AA88,-1,['IND_3F31'],2.013333,1.639352,0.054467,1.018589,1.008708,1.880597,THER_AREA_6CEE,1.036312

## Remove outlier

In [590]:
df_filtered = df[df['price_unit']!=df['price_unit'].max()]
df_filtered = df_filtered[df_filtered['price_unit']!=df_filtered['price_unit'].max()]
df_filtered = df_filtered[df_filtered['price_month']!=df_filtered['price_month'].max()]
numeric_df = df_filtered.select_dtypes(include='number')

# Boxplot for numeric columns
numeric_df.boxplot(figsize=(10, 6))
plt.title('Boxplot of Numeric Columns')
plt.show()

In [591]:
df_filtered = df.copy(deep=True)

In [592]:
df_filtered.describe()

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,118917.000000,118917.000000,118917.000000,118917.000000,1.189170e+05,118917.000000,118917.000000,118917.000000,118917.000000
mean,1.529389,1.607100,1.008999,1.483680,5.768206e-02,0.912442,1.463305,1.762006,1.420171
std,0.439094,0.537994,1.044154,1.336542,9.163269e-02,1.414511,5.464170,0.303401,1.183330
min,-1.000000,-1.000000,-1.000000,1.000000,5.954162e-07,-1.000000,-1.000000,-1.000000,1.000000
25%,1.179931,1.464849,1.000000,1.038227,2.463952e-03,1.002854,1.011818,1.671642,1.022251
50%,1.472378,1.731474,1.346667,1.238870,1.879598e-02,1.015832,1.085415,1.835821,1.089062
75%,1.816479,1.894139,1.760000,1.506685,8.556676e-02,1.316595,1.420445,1.925373,1.309227
max,2.656913,2.311103,2.040000,12.767484,6.668035e-01,39.343041,535.926517,2.044776,28.576068

In [593]:
## Handle -1 with mean
col = ["che_pc_usd", "che_perc_gdp", "insurance_perc_che", "public_perc_che"]

for i in col:
    print(i)
    mean_val = df_filtered[col][df_filtered[col] != -1].mean()
    df_filtered[col] = df_filtered[col].replace(-1, mean_val)


df_filtered.describe()

che_pc_usd
che_perc_gdp
insurance_perc_che
public_perc_che

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,118917.000000,118917.000000,118917.000000,118917.000000,1.189170e+05,118917.000000,118917.000000,118917.000000,118917.000000
mean,1.545249,1.689515,1.495682,1.483680,5.768206e-02,0.912442,1.463305,1.779325,1.420171
std,0.390752,0.273076,0.335415,1.336542,9.163269e-02,1.414511,5.464170,0.210280,1.183330
min,1.000000,1.000000,1.000000,1.000000,5.954162e-07,-1.000000,-1.000000,1.000000,1.000000
25%,1.183443,1.501710,1.173333,1.038227,2.463952e-03,1.002854,1.011818,1.686567,1.022251
50%,1.518258,1.731474,1.495682,1.238870,1.879598e-02,1.015832,1.085415,1.835821,1.089062
75%,1.816479,1.894139,1.760000,1.506685,8.556676e-02,1.316595,1.420445,1.925373,1.309227
max,2.656913,2.311103,2.040000,12.767484,6.668035e-01,39.343041,535.926517,2.044776,28.576068

In [594]:
## Handle -1 with median
col = ["price_month", "price_unit"]

for i in col:
    print(i)
    mean_val = df_filtered[col][df_filtered[col] != -1].median()
    df_filtered[col] = df_filtered[col].replace(-1, mean_val)


df_filtered.describe()

price_month
price_unit

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,118917.000000,118917.000000,118917.000000,118917.000000,1.189170e+05,118917.000000,118917.000000,118917.000000,118917.000000
mean,1.545249,1.689515,1.495682,1.483680,5.768206e-02,1.343223,1.467498,1.779325,1.420171
std,0.390752,0.273076,0.335415,1.336542,9.163269e-02,1.039843,5.463079,0.210280,1.183330
min,1.000000,1.000000,1.000000,1.000000,5.954162e-07,1.000000,1.000000,1.000000,1.000000
25%,1.183443,1.501710,1.173333,1.038227,2.463952e-03,1.010391,1.011920,1.686567,1.022251
50%,1.518258,1.731474,1.495682,1.238870,1.879598e-02,1.121036,1.086580,1.835821,1.089062
75%,1.816479,1.894139,1.760000,1.506685,8.556676e-02,1.316595,1.420445,1.925373,1.309227
max,2.656913,2.311103,2.040000,12.767484,6.668035e-01,39.343041,535.926517,2.044776,28.576068

In [595]:
## Made -1 for indication date
col = 'ind_launch_date'
df_filtered[col] = df_filtered.apply(lambda row: row['launch_date'] if row['ind_launch_date'] == '-1' else row['ind_launch_date'].split()[0], axis=1)

df_filtered[col]

0         2014-06-01
1         2014-09-01
2         2014-06-01
3         2014-06-01
4         2014-06-01
             ...
118912    2020-11-01
118913    2019-07-01
118914    2018-09-01
118915    2020-11-01
118916    2021-05-01
Name: ind_launch_date, Length: 118917, dtype: object

In [596]:
## Create age indication col
df_filtered['ind_launch_date'] = pd.to_datetime(df_filtered['ind_launch_date'])
df_filtered['launch_date'] = pd.to_datetime(df_filtered['launch_date'])
df_filtered['ind_age'] = (abs(df_filtered['ind_launch_date'].dt.year - df_filtered['launch_date'].dt.year)) * 12 + (abs(df_filtered['ind_launch_date'].dt.month - df_filtered['launch_date'].dt.month))


cols = df_filtered.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_filtered = df_filtered[cols]

In [597]:
## Drop feature
df_filtered = df_filtered.drop(['ind_launch_date', 'cluster_nl', 'che_pc_usd', 'corporation', 'drug_id', 'indication', 'prev_perc'], axis=1)

In [598]:
# ## Mapping value - FOR TRAIN DATA
# import numpy as np
# np.random.seed(100)
# # Generate random values between 0 and 1 for each unique label
# unique_values = df['cluster_nl'].unique()
# random_mapping_train = {label: np.random.rand() for label in unique_values}
# print(len(random_mapping_train))
# print(random_mapping_train)

In [599]:
## Mapping for country and brand - FOR TRAIN DATA
import numpy as np
np.random.seed(100)
unique_countries = df_filtered['country'].unique()
unique_brands = df_filtered['brand'].unique()
unique_areas = df_filtered['therapeutic_area'].unique()
countries_map = {label: np.random.rand() for label in unique_countries}
brands_map = {label: np.random.rand() for label in unique_brands}
areas_map = { label: np.random.rand() for label in unique_areas}
print(countries_map)
print(brands_map)
print(areas_map)

{'COUNTRY_88A3': 0.5434049417909654, 'COUNTRY_8B47': 0.27836938509379616, 'COUNTRY_445D': 0.4245175907491331, 'COUNTRY_D8B0': 0.8447761323199037, 'COUNTRY_9488': 0.004718856190972565, 'COUNTRY_9891': 0.12156912078311422, 'COUNTRY_5180': 0.6707490847267786, 'COUNTRY_3AD0': 0.8258527551050476, 'COUNTRY_89F9': 0.13670658968495297, 'COUNTRY_1007': 0.57509332942725, 'COUNTRY_4242': 0.891321954312264, 'COUNTRY_FA79': 0.20920212211718958, 'COUNTRY_06E4': 0.18532821955007506, 'COUNTRY_6F78': 0.10837689046425514, 'COUNTRY_B6AE': 0.21969749262499216, 'COUNTRY_E319': 0.9786237847073697, 'COUNTRY_A67D': 0.8116831490893233, 'COUNTRY_EF33': 0.1719410127325942, 'COUNTRY_5FEB': 0.8162247487258399, 'COUNTRY_907E': 0.2740737470416992, 'COUNTRY_53A5': 0.4317041836631217, 'COUNTRY_3536': 0.9400298196223746, 'COUNTRY_4D48': 0.8176493787767274, 'COUNTRY_8DBB': 0.3361119501208987, 'COUNTRY_6C16': 0.17541045374233666, 'COUNTRY_B835': 0.37283204628992317, 'COUNTRY_2E65': 0.005688507352573424, 'COUNTRY_C51E': 0.25242635344484043, 'COUNTRY_C8F4': 0.7956625084732873, 'COUNTRY_D5B9': 0.01525497124633901, 'COUNTRY_4442': 0.5988433769284929, 'COUNTRY_6B71': 0.6038045390428536, 'COUNTRY_221C': 0.10514768541205632, 'COUNTRY_0309': 0.38194344494311006, 'COUNTRY_EA71': 0.03647605659256892, 'COUNTRY_3F0E': 0.8904115634420757, 'COUNTRY_C89B': 0.9809208570123115, 'COUNTRY_4253': 0.05994198881803725, 'COUNTRY_7D31': 0.8905459447285041, 'COUNTRY_458E': 0.5769014994000329, 'COUNTRY_4647': 0.7424796890979773, 'COUNTRY_0C7D': 0.6301839364753761, 'COUNTRY_F78A': 0.5818421923987779, 'COUNTRY_84C8': 0.020439132026923157, 'COUNTRY_AE54': 0.2100265776728606, 'COUNTRY_77DA': 0.5446848781786475, 'COUNTRY_1033': 0.7691151711056516, 'COUNTRY_5A54': 0.2506952291383959, 'COUNTRY_4D5D': 0.2858956904068647}

In [600]:
# ## Mapping value - FOR SUBMISSION DATA
# # dftest = pd.read_csv("Data Files/submission_data.csv")
# np.random.seed(100)
# unique_values = df_filtered['cluster_nl'].unique()
# random_mapping_submission = {}
# for label in unique_values:
#     if (label in random_mapping_train):
#         # print(label)
#         random_mapping_submission[label] = random_mapping_train[label]
#         continue
#     random_mapping_submission[label] = np.random.rand()

# print(len(random_mapping_submission))
# print(random_mapping_submission)

In [601]:
# # Map the cluster nl
# df_filtered['cluster_nl_encode'] = df_filtered['cluster_nl'].map(random_mapping_train)

In [602]:
df_filtered['country_encode'] = df_filtered['country'].map(countries_map)
df_filtered['brand_encode'] = df_filtered['brand'].map(brands_map)
df_filtered['area_encode'] = df_filtered['therapeutic_area'].map(areas_map)

In [603]:
df_filtered

,ind_age,brand,che_perc_gdp,country,launch_date,date,insurance_perc_che,population,price_month,price_unit,public_perc_che,therapeutic_area,target,country_encode,brand_encode,area_encode
0,0,BRAND_354E,1.665879,COUNTRY_88A3,2014-06-01,2014-06-01,1.893333,1.008039,1.006444,1.013784,1.835821,THER_AREA_980E,1.000784,0.543405,0.852395,0.877121
1,3,BRAND_626D,1.689515,COUNTRY_8B47,2014-06-01,2014-06-01,1.495682,1.023562,1.121036,1.626677,1.779325,THER_AREA_96D7,1.000000,0.278369,0.975006,0.408879
2,0,BRAND_45D9,1.665879,COUNTRY_88A3,2014-06-01,2014-06-01,1.893333,1.008039,1.121036,3.144874,1.835821,THER_AREA_96D7,1.002258,0.543405,0.884853,0.408879
3,0,BRAND_D724,2.051770,COUNTRY_445D,2014-06-01,2014-06-01,1.000000,1.253186,1.121036,1.213446,1.805970,THER_AREA_6CEE,1.068761,0.424518,0.359508,0.319773
4,0,BRAND_4887,2.059130,COUNTRY_D8B0,2014-06-01,2014-06-01,2.013333,1.639352,1.018589,1.008708,1.880597,THER_AREA_6CEE,1.036312,0.844776,0.598859,0.319773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118912,0,BRAND_2058,2.058055,COUNTRY_C8F4,2020-11-01,2022-12-01,1.495682,1.049808,1.054007,1.100336,2.029851,THER_AREA_6CEE,1.203657,0.795663,0.368762,0.319773
118913,0,BRAND_4888,1.819485,COUNTRY_6F78,2019-07-01,2022-12-01,1.173333,1.008985,1.008317,1.029630,1.955224,THER_AREA_980E,1.109272,0.108377,0.960980,0.877121
118914,0,BRAND_0056,1.491552,COUNTRY_0C7D,2018-09-01,2022-12-01,1.826667,1.121505,1.017259,1.018310,1.926795,THER_AREA_644A,1.343341,0.630184,0.240633,0.642469
118915,2,BRAND_6200,2.020277,COUNTRY_89F9,2020-09-01,2022-12-01,1.495682,1.520144,1.960978,2.490911,1.985847,THER_AREA_96D7,1.266831,0.136707,0.961038,0.408879
118916,0,BRAND_C21A,1.491552,COUNTRY_0C7D,2021-05-01,2022-12-01,1.826667,1.121505,1.121036,1.002689,1.926795,THER_AREA_CD59,1.001763,0.630184,0.946380,0.742347

In [604]:
# Reorder the columns
cols = df_filtered.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_filtered = df_filtered[cols]

cols = df_filtered.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_filtered = df_filtered[cols]

cols = df_filtered.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_filtered = df_filtered[cols]

In [605]:
df_filtered.head(5)

,country_encode,brand_encode,area_encode,ind_age,brand,che_perc_gdp,country,launch_date,date,insurance_perc_che,population,price_month,price_unit,public_perc_che,therapeutic_area,target
0,0.543405,0.852395,0.877121,0,BRAND_354E,1.665879,COUNTRY_88A3,2014-06-01,2014-06-01,1.893333,1.008039,1.006444,1.013784,1.835821,THER_AREA_980E,1.000784
1,0.278369,0.975006,0.408879,3,BRAND_626D,1.689515,COUNTRY_8B47,2014-06-01,2014-06-01,1.495682,1.023562,1.121036,1.626677,1.779325,THER_AREA_96D7,1.000000
2,0.543405,0.884853,0.408879,0,BRAND_45D9,1.665879,COUNTRY_88A3,2014-06-01,2014-06-01,1.893333,1.008039,1.121036,3.144874,1.835821,THER_AREA_96D7,1.002258
3,0.424518,0.359508,0.319773,0,BRAND_D724,2.051770,COUNTRY_445D,2014-06-01,2014-06-01,1.000000,1.253186,1.121036,1.213446,1.805970,THER_AREA_6CEE,1.068761
4,0.844776,0.598859,0.319773,0,BRAND_4887,2.059130,COUNTRY_D8B0,2014-06-01,2014-06-01,2.013333,1.639352,1.018589,1.008708,1.880597,THER_AREA_6CEE,1.036312

In [606]:
df_filtered.drop(['brand', 'country', 'therapeutic_area'], axis=1, inplace=True)

## DBSCAN

In [607]:
# from sklearn.cluster import DBSCAN

# dbscan = DBSCAN(eps = 0.5, min_samples=10)
# clusters = dbscan.fit_predict(df_filtered.drop(['date', 'launch_date'], axis = 1))

In [608]:
# df_filtered['country_encode'] = clusters

In [609]:
# df_filtered[df_filtered['country_encode'] == -1]

In [610]:
# col = 'country_encode'
# df_filtered[col] = df_filtered.apply(lambda row: row[col] if row[col] != -1 else 0, axis=1)

## LAG

In [611]:
lag_cols = ['che_perc_gdp','insurance_perc_che', 'price_month', 'price_unit', 'public_perc_che']
lags = [1, 2]
for col in lag_cols:
    for lag in lags:
        df_filtered[f'lag_{col}_{lag}'] = df_filtered[col].shift(lag)
        
        ## Reorder columns
        cols = df_filtered.columns.tolist()
        cols = cols[-1:] + cols[:-1]
        df_filtered = df_filtered[cols]

        
    
df_filtered = df_filtered.fillna(method = 'ffill')
df_filtered = df_filtered.fillna(method = 'bfill')

C:\Users\Tom\AppData\Local\Temp\ipykernel_26544\1613004465.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filtered = df_filtered.fillna(method = 'ffill')
C:\Users\Tom\AppData\Local\Temp\ipykernel_26544\1613004465.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filtered = df_filtered.fillna(method = 'bfill')

In [612]:
df_filtered

,lag_public_perc_che_2,lag_public_perc_che_1,lag_price_unit_2,lag_price_unit_1,lag_price_month_2,lag_price_month_1,lag_insurance_perc_che_2,lag_insurance_perc_che_1,lag_che_perc_gdp_2,lag_che_perc_gdp_1,...,ind_age,che_perc_gdp,launch_date,date,insurance_perc_che,population,price_month,price_unit,public_perc_che,target
0,1.835821,1.835821,1.013784,1.013784,1.006444,1.006444,1.893333,1.893333,1.665879,1.665879,...,0,1.665879,2014-06-01,2014-06-01,1.893333,1.008039,1.006444,1.013784,1.835821,1.000784
1,1.835821,1.835821,1.013784,1.013784,1.006444,1.006444,1.893333,1.893333,1.665879,1.665879,...,3,1.689515,2014-06-01,2014-06-01,1.495682,1.023562,1.121036,1.626677,1.779325,1.000000
2,1.835821,1.779325,1.013784,1.626677,1.006444,1.121036,1.893333,1.495682,1.665879,1.689515,...,0,1.665879,2014-06-01,2014-06-01,1.893333,1.008039,1.121036,3.144874,1.835821,1.002258
3,1.779325,1.835821,1.626677,3.144874,1.121036,1.121036,1.495682,1.893333,1.689515,1.665879,...,0,2.051770,2014-06-01,2014-06-01,1.000000,1.253186,1.121036,1.213446,1.805970,1.068761
4,1.835821,1.805970,3.144874,1.213446,1.121036,1.121036,1.893333,1.000000,1.665879,2.051770,...,0,2.059130,2014-06-01,2014-06-01,2.013333,1.639352,1.018589,1.008708,1.880597,1.036312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118912,1.552239,1.843706,1.001084,1.008337,1.121036,1.005084,1.440000,1.040000,1.684065,1.918488,...,0,2.058055,2020-11-01,2022-12-01,1.495682,1.049808,1.054007,1.100336,2.029851,1.203657
118913,1.843706,2.029851,1.008337,1.100336,1.005084,1.054007,1.040000,1.495682,1.918488,2.058055,...,0,1.819485,2019-07-01,2022-12-01,1.173333,1.008985,1.008317,1.029630,1.955224,1.109272
118914,2.029851,1.955224,1.100336,1.029630,1.054007,1.008317,1.495682,1.173333,2.058055,1.819485,...,0,1.491552,2018-09-01,2022-12-01,1.826667,1.121505,1.017259,1.018310,1.926795,1.343341
118915,1.955224,1.926795,1.029630,1.018310,1.008317,1.017259,1.173333,1.826667,1.819485,1.491552,...,2,2.020277,2020-09-01,2022-12-01,1.495682,1.520144,1.960978,2.490911,1.985847,1.266831
118916,1.926795,1.985847,1.018310,2.490911,1.017259,1.960978,1.826667,1.495682,1.491552,2.020277,...,0,1.491552,2021-05-01,2022-12-01,1.826667,1.121505,1.121036,1.002689,1.926795,1.001763

## Export

In [613]:
## Export
df_filtered.to_csv("clean_data_2.csv", index=False)

## Data submission

In [614]:
dftest = pd.read_csv("Data Files\\submission_data.csv")

In [615]:
dftest.head(5)

,brand,che_pc_usd,che_perc_gdp,cluster_nl,corporation,country,launch_date,date,drug_id,ind_launch_date,indication,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,therapeutic_area,target
0,BRAND_E57A,2.079046,1.467920,BRAND_E57A_COUNTRY_06E4,CORP_01C7,COUNTRY_06E4,2022-02-01,2023-01-01,DRUG_ID_FADD,2022-08-01 00:00:00,['IND_C3B6'],1.000000,1.004739,0.036647,1.007091,1.012037,1.910448,THER_AREA_980E,NaN
1,BRAND_014B,2.079046,1.467920,BRAND_014B_COUNTRY_06E4,CORP_01C7,COUNTRY_06E4,2022-09-01,2023-01-01,DRUG_ID_E07F,-1,['IND_A496'],1.000000,1.004739,0.106925,-1.000000,1.121625,1.910448,THER_AREA_6CEE,NaN
2,BRAND_1E6F,1.018268,1.108030,BRAND_1E6F_COUNTRY_4647,CORP_01C7,COUNTRY_4647,2022-05-01,2023-01-01,DRUG_ID_1A21,2022-06-01 00:00:00,"['IND_120F', 'IND_8E8D']",1.226667,3.243906,0.041152,-1.000000,1.005001,1.567164,THER_AREA_CD59,NaN
3,BRAND_9259,1.190075,1.515375,BRAND_9259_COUNTRY_FA79,CORP_01C7,COUNTRY_FA79,2022-12-01,2023-01-01,DRUG_ID_1315,-1,['IND_BAFB'],1.785253,1.042681,0.002766,-1.000000,1.271214,1.786265,THER_AREA_6CEE,NaN
4,BRAND_106A,1.018876,1.127864,BRAND_106A_COUNTRY_E319,CORP_DF1B,COUNTRY_E319,2022-12-01,2023-01-01,DRUG_ID_2832,2020-03-01 00:00:00,['IND_5586'],1.076762,1.881992,0.000133,-1.000000,2.073953,1.223881,THER_AREA_96D7,NaN

In [616]:
dftest.describe()

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,0.0
mean,1.465961,1.516268,1.135359,2.103100,0.038048,0.401676,7.149127,1.717638,NaN
std,0.552899,0.735900,0.953512,2.896745,0.084292,1.620643,49.170464,0.441503,NaN
min,-1.000000,-1.000000,-1.000000,1.004739,0.000035,-1.000000,-1.000000,-1.000000,NaN
25%,1.123877,1.467920,1.013333,1.041314,0.001275,-1.000000,1.015392,1.695807,NaN
50%,1.432607,1.591375,1.426667,1.275586,0.007327,1.004081,1.169687,1.805970,NaN
75%,1.826295,1.985929,1.785253,1.498170,0.036647,1.196712,1.401970,1.910448,NaN
max,2.709582,2.330845,2.026286,12.767433,0.606682,10.102683,535.926517,2.044776,NaN

In [617]:
## Handle -1 with mean
col = ["che_pc_usd", "che_perc_gdp", "insurance_perc_che", "public_perc_che"]

for i in col:
    print(i)
    mean_val = dftest[col][dftest[col] != -1].mean()
    dftest[col] = dftest[col].replace(-1, mean_val)


dftest.describe()

che_pc_usd
che_perc_gdp
insurance_perc_che
public_perc_che

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,0.0
mean,1.517187,1.694479,1.513274,2.103100,0.038048,0.401676,7.149127,1.774092,NaN
std,0.423444,0.304746,0.318975,2.896745,0.084292,1.620643,49.170464,0.203510,NaN
min,1.004234,1.025025,1.000000,1.004739,0.000035,-1.000000,-1.000000,1.016166,NaN
25%,1.130150,1.493446,1.330000,1.041314,0.001275,-1.000000,1.015392,1.695807,NaN
50%,1.477622,1.681636,1.513274,1.275586,0.007327,1.004081,1.169687,1.805970,NaN
75%,1.826295,1.985929,1.785253,1.498170,0.036647,1.196712,1.401970,1.910448,NaN
max,2.709582,2.330845,2.026286,12.767433,0.606682,10.102683,535.926517,2.044776,NaN

In [618]:
## Handle -1 with median
col = ["price_month", "price_unit"]

for i in col:
    print(i)
    mean_val = dftest[col][dftest[col] != -1].median()
    dftest[col] = dftest[col].replace(-1, mean_val)


dftest.describe()

price_month
price_unit

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,1769.000000,0.0
mean,1.517187,1.694479,1.513274,2.103100,0.038048,1.360366,7.154038,1.774092,NaN
std,0.423444,0.304746,0.318975,2.896745,0.084292,1.042838,49.169758,0.203510,NaN
min,1.004234,1.025025,1.000000,1.004739,0.000035,1.000223,1.000000,1.016166,NaN
25%,1.130150,1.493446,1.330000,1.041314,0.001275,1.068704,1.016366,1.695807,NaN
50%,1.477622,1.681636,1.513274,1.275586,0.007327,1.157663,1.171756,1.805970,NaN
75%,1.826295,1.985929,1.785253,1.498170,0.036647,1.196712,1.401970,1.910448,NaN
max,2.709582,2.330845,2.026286,12.767433,0.606682,10.102683,535.926517,2.044776,NaN

In [619]:
## Made -1 for indication date
col = 'ind_launch_date'
dftest[col] = dftest.apply(lambda row: row['launch_date'] if row['ind_launch_date'] == '-1' else row['ind_launch_date'].split()[0], axis=1)

dftest[col]

0       2022-08-01
1       2022-09-01
2       2022-06-01
3       2022-12-01
4       2020-03-01
           ...
1764    2022-08-01
1765    2022-09-01
1766    2024-11-01
1767    2024-11-01
1768    2020-03-01
Name: ind_launch_date, Length: 1769, dtype: object

In [620]:
dftest['ind_launch_date'] = pd.to_datetime(dftest['ind_launch_date'])
dftest['launch_date'] = pd.to_datetime(dftest['launch_date'])
dftest['ind_age'] = (abs(dftest['ind_launch_date'].dt.year - dftest['launch_date'].dt.year)) * 12 + (abs(dftest['ind_launch_date'].dt.month - dftest['launch_date'].dt.month))


cols = dftest.columns.tolist()
cols = cols[-1:] + cols[:-1]
dftest = dftest[cols]

In [621]:
dftest = dftest.drop(['ind_launch_date', 'cluster_nl', 'che_pc_usd', 'corporation', 'drug_id', 'indication', 'prev_perc'], axis=1)

In [622]:
dftest.head(5)

,ind_age,brand,che_perc_gdp,country,launch_date,date,insurance_perc_che,population,price_month,price_unit,public_perc_che,therapeutic_area,target
0,6,BRAND_E57A,1.467920,COUNTRY_06E4,2022-02-01,2023-01-01,1.000000,1.004739,1.007091,1.012037,1.910448,THER_AREA_980E,NaN
1,0,BRAND_014B,1.467920,COUNTRY_06E4,2022-09-01,2023-01-01,1.000000,1.004739,1.157663,1.121625,1.910448,THER_AREA_6CEE,NaN
2,1,BRAND_1E6F,1.108030,COUNTRY_4647,2022-05-01,2023-01-01,1.226667,3.243906,1.157663,1.005001,1.567164,THER_AREA_CD59,NaN
3,0,BRAND_9259,1.515375,COUNTRY_FA79,2022-12-01,2023-01-01,1.785253,1.042681,1.157663,1.271214,1.786265,THER_AREA_6CEE,NaN
4,33,BRAND_106A,1.127864,COUNTRY_E319,2022-12-01,2023-01-01,1.076762,1.881992,1.157663,2.073953,1.223881,THER_AREA_96D7,NaN

In [623]:
import numpy as np
np.random.seed(100)
unique_countries = dftest['country'].unique()
unique_brands = dftest['brand'].unique()
unique_areas = dftest['therapeutic_area'].unique()
# countries_map_submission = countries_map
# brands_map_submission = brands_map
dftest['country_encode'] = dftest['country'].map(countries_map)
dftest['brand_encode'] = dftest['brand'].map(brands_map)
dftest['area_encode'] = dftest['therapeutic_area'].map(areas_map)

In [624]:
dftest.head(5)

,ind_age,brand,che_perc_gdp,country,launch_date,date,insurance_perc_che,population,price_month,price_unit,public_perc_che,therapeutic_area,target,country_encode,brand_encode,area_encode
0,6,BRAND_E57A,1.467920,COUNTRY_06E4,2022-02-01,2023-01-01,1.000000,1.004739,1.007091,1.012037,1.910448,THER_AREA_980E,NaN,0.185328,0.956023,0.877121
1,0,BRAND_014B,1.467920,COUNTRY_06E4,2022-09-01,2023-01-01,1.000000,1.004739,1.157663,1.121625,1.910448,THER_AREA_6CEE,NaN,0.185328,0.766304,0.319773
2,1,BRAND_1E6F,1.108030,COUNTRY_4647,2022-05-01,2023-01-01,1.226667,3.243906,1.157663,1.005001,1.567164,THER_AREA_CD59,NaN,0.742480,0.147700,0.742347
3,0,BRAND_9259,1.515375,COUNTRY_FA79,2022-12-01,2023-01-01,1.785253,1.042681,1.157663,1.271214,1.786265,THER_AREA_6CEE,NaN,0.209202,0.728905,0.319773
4,33,BRAND_106A,1.127864,COUNTRY_E319,2022-12-01,2023-01-01,1.076762,1.881992,1.157663,2.073953,1.223881,THER_AREA_96D7,NaN,0.978624,0.271978,0.408879

In [625]:
# Reorder the columns
cols = dftest.columns.tolist()
cols = cols[-1:] + cols[:-1]
dftest = dftest[cols]

cols = dftest.columns.tolist()
cols = cols[-1:] + cols[:-1]
dftest = dftest[cols]

cols = dftest.columns.tolist()
cols = cols[-1:] + cols[:-1]
dftest = dftest[cols]

In [626]:
dftest.drop(['brand', 'country', 'therapeutic_area'], axis=1, inplace=True)

In [627]:
lag_cols = ['che_perc_gdp','insurance_perc_che', 'price_month', 'price_unit', 'public_perc_che']
lags = [1, 2]
for col in lag_cols:
    for lag in lags:
        dftest[f'lag_{col}_{lag}'] = dftest[col].shift(lag)
        
        ## Reorder columns
        cols = dftest.columns.tolist()
        cols = cols[-1:] + cols[:-1]
        dftest = dftest[cols]

        
    
dftest = dftest.fillna(method = 'ffill')
dftest = dftest.fillna(method = 'bfill')

C:\Users\Tom\AppData\Local\Temp\ipykernel_26544\2556263969.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dftest = dftest.fillna(method = 'ffill')
C:\Users\Tom\AppData\Local\Temp\ipykernel_26544\2556263969.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dftest = dftest.fillna(method = 'bfill')

In [628]:
dftest.to_csv('submission_clean.csv', index=False)